div{
    width: 300px;
    height: 300px;
    border: solid 5px;
    background-color: aqua;
    border-radius: 10px;
}
#d2
{
    margin-left: 320px;
    margin-top: -310px;
}
#d3
{
    margin-left: 640px;
    margin-top: -310px;
}
h1{
    color: red;
    font-size: 100px;
}
span{
    color: blue;
}
h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
#span1
{
    color: blue;
}
#span2
{
    color: rgb(255, 0, 0);
}
#span3
{
    color: rgb(20, 154, 34);
}
#span4
{
    color: rgb(226, 255, 7);
}
